
$primary-palette: (
  50:  #FFFDE7,
  100: #FFF9C4,
  200: #FFF59D,
  300: #FFF176,
  400: #FFEE58,
  500: #FFEB3B,
  600: #FDD835,
  700: #BAA000,
  800: #FBC02D,
  900: #F9A825,
  A100: #FFFF8D,
  A200: #FFFF00,
  A400: #FFEA00,
  A700: #FFD600,
  contrast: (
    50:  #FFF,
    100: #FFF,
    200: #FFF,
    300: #FFF,
    400: #FFF,
    500: #FFF,
    600: #FFF,
    700: #FFF,
    800: #FFF,
    900: #FFF,
    A100: #FFF,
    A200: #FFF,
    A400: #FFF,
    A700: #FFF
  )
);

$font-family: 'Nunito, sans-serif'