<div class="top-nav-container d-flex align-items-center justify-content-between">
    <div class="header ms-5 p-2">
        <div class="d-flex align-items-center">
            <mat-icon class="fs-1 me-3 overflow-visible d-flex justify-content-center align-items-center lh-1">savings</mat-icon>
            <span class="fs-5">Pecunia</span>
        </div>
    </div>
    <div class="fs-3 me-4">
        <button mat-icon-button (click)="logout()" class="d-flex justify-content-center align-items-center" >
            <mat-icon class="overflow-visible fs-6">logout</mat-icon>
        </button>
    </div>
</div>
