<div class="d-flex justify-content-center align-items-center h-100">
    <mat-toolbar class="position-absolute top-0 start-0">
        <span class="m-2">Controle Financeiro</span>
    </mat-toolbar>
    <div class="login p-5 rounded-3">
        <h1 class="d-flex justify-content-center mb-3">LOGIN</h1>
        <div>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Usuário</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <button mat-flat-button class="login-button w-100 mb-2">ENTRAR</button>
        </div>
        <div>
            <button mat-stroked-button class="register-button w-100" (click)="toRegister()">CADASTRAR-SE</button>
        </div>
    </div>
</div>
