<div class="d-flex justify-content-center align-items-center h-100">
    <mat-toolbar class="shadow position-absolute top-0 start-0" >
        <span class="mx-auto"><h1>Pecunia</h1></span>
    </mat-toolbar>

    <div class="p-5 rounded-3 shadow">
        <h1 class="d-flex justify-content-center mb-3">Login</h1>
        <div>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label class="mat-label">Usuário</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label class="mat-label">Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <button mat-flat-button color="primary" class="w-100 mb-2">Entrar</button>
        </div>
        <div>
            <button mat-button class="w-100" (click)="toRegister()">Cadastrar-se</button>
        </div>
    </div>
</div>
