@use '@angular/material' as mat;
@use '../../../theme' as theme;


$color: mat.get-color-from-palette(theme.$primary-palette, A700);
$contrast: mat.get-contrast-color-from-palette(theme.$primary-palette, 700);

.register{
    background-color: rgb(252, 250, 250)
}
.register-button {
    background-color: $color !important;
    color: mat.get-contrast-color-from-palette(theme.$primary-palette, 700) !important;
    font-family: "Betania Patmos", cursive;
}

.register-button:hover {
    background-color: mat.get-color-from-palette(theme.$primary-palette, 700) !important;
}