@use '@angular/material' as mat;
@use '../../../theme' as theme;

.container{
  pointer-events: all;
  background-color: mat.get-color-from-palette(theme.$primary-palette, 50);
  width: 250px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid mat.get-color-from-palette(theme.$primary-palette, 100);

  animation: slide 0.8s ease-out forwards, close 10s, ease-out forwards;
}

.text{
  font-family: theme.$font-primary !important;
}

.success{
  background-color: mat.get-color-from-palette(theme.$primary-palette, 50);
  border: 1px solid mat.get-color-from-palette(theme.$primary-palette, 100);
  color: mat.get-color-from-palette(theme.$primary-palette, 700);
}

.error{
  background-color: theme.$error-background;
  border: 1px solid theme.$error-border;
  color: theme.$error-text;
}


@keyframes slide {
  from {
    transform: translateX(300px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes close {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}