@use '@angular/material' as mat;
@use '../../../theme' as theme;

.side-nav-container{
    width: 280px;
    height: 100vh;
    background-color: mat.get-color-from-palette(theme.$primary-palette, 100);
    padding: 20px;
    padding-top: 30px;
}

h3{
    font-weight: bold;
}

button{
    color: mat.get-color-from-palette(theme.$primary-palette, 700) !important;
    font-size: 0.8em;
}

