<div class="side-nav-container">
    <h3 class="pb-2 pt-2">Home</h3>
    <mat-list>
        <mat-list-item class="d-flex ">
            <button mat-button class="w-100 rounded-5 d-flex justify-content-start" routerLink="/pecunia/dashboard">
                <mat-icon class="lh-1">analytics</mat-icon>
                Dashboard
            </button>
        </mat-list-item>
    </mat-list>
    <h3 class="pb-2 pt-2">Receitas</h3>
    <mat-list>
        <mat-list-item>
            <button mat-button class="w-100 rounded-5 d-flex justify-content-start" routerLink="/pecunia/income">
                <mat-icon class="lh-1">payments</mat-icon>
                Adicionar Receita
            </button>
        </mat-list-item>
    </mat-list>
    <h3 class="pb-2 pt-2">Despesas</h3>
    <mat-list>
        <mat-list-item>
            <button mat-button class="w-100 rounded-5 d-flex justify-content-start">
                <mat-icon class="lh-1">checkbook</mat-icon>
                Adicionar Despesa Fixa
            </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button class="w-100 rounded-5 d-flex justify-content-start">
                <mat-icon class="lh-1">ifl</mat-icon>
                Adicionar Despesa Variável
            </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button class="w-100 rounded-5 d-flex justify-content-start">
                <mat-icon class="lh-1">ifl</mat-icon>
                Adicionar Gasto
            </button>
        </mat-list-item>
    </mat-list>
    <h3 class="pb-2 pt-2">Histórico</h3>
    <mat-list>
        <mat-list-item>
            <button mat-button class="w-100 rounded-5 d-flex justify-content-start">
                <mat-icon class="lh-1">history</mat-icon>
                Acessar Histórico Financeiro
            </button>
        </mat-list-item>
    </mat-list>
    <h3 class="pb-2 pt-2">Arquivados</h3>
    <mat-list>
        <mat-list-item>
            <button mat-button class="w-100 rounded-5 d-flex justify-content-start">
                <mat-icon class="lh-1">history</mat-icon>
                Transações Desativadas
            </button>
        </mat-list-item>
    </mat-list>
</div>